body {
    margin: 0;
}

body .container{
    text-align: center;
}

body .sub-container{
    display: flex;
    justify-content: center;
}

body .container #signin-hdr {
    font-size: 20px;
}

body .container #submit-btn {
}